@charset "UTF-8";

header#firstheader{position: relative;}
  h1{padding: 26px 0 17px;height: 62px;}
  #sform{position: absolute;}
  .util{position: absolute;right: 0;top: 20px;}
  .util:after{content: "";clear: both;display: block;}
  .util>li{float: left;}
  .util>li>a{display: block;padding-left: 20px;}
  #gnb{width: 100%;height: 70px;}
  #gnb>ul{float: left;}
  #gnb>ul:after{content: '';clear: both;display: block;}
  #gnb>ul>li{float: left;}
  #gnb>ul>li>a{width: 205px;height: 29px;text-align: center;display: block;line-height: 29px;color: #fff;padding-top: 10px;background: #3da7db;}
  #gnb>ul>li>ul{display: none;}
  .allmenu_view{float: left;width: 179px;text-align: center;}
  .allmenu_view a{background: #3da7db url(../images/btn_all.gif) no-repeat center top;display: block;height: 26px;color: #fff;padding-top: 13px;}
  #allMenu_box

section
